.ratings h1 {
    font-family: 'Verdana', Times, serif;
    color: black;
    text-align: center;
    padding-top: 10px;
    display: inline;
}

body {
   background-color:white; 
   text-align: center;

}

img{
    display:inline;
    width:35px;
    height: 35px;
    padding-top: 15px;
}

.ratings h2 {
    font: 'Verdana';
    color: white;
    font-size: 15px;

}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;

  }

.inside-ratings {
    background-color:#4C9A2A;
    border: none;
    color:white	;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px; 
    height: 50px; 
}


.staticPages {
    background-color:#bada55;
    border: none;
    color: green;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 100%
}

#comp-name {
    color: black;
    text-align: center;

}
h2 {
    text-align: center;

}
.staticPages.button hover {
    background-color: yellow;
}

.ratings {
    width:300px; 
    background-color: #9cd8e9	;
    padding-bottom: 10px;
    border-radius: 12px;
}